.App {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-list{
    list-style : none;
}

.player-list{
    margin-top : 1em;
}

.stats-list{
    overflow-x: auto;
}

.app-title {
    margin-bottom: 1em;
}


/*Sort triangle*/

.stats-list .sort-desc:after, .stats-list .sort-asc:after  {
    content: ' ';
    position: relative;
    left: 5px;
    border: 7px solid transparent;
}

.stats-list .sort-desc:after {
    top: 10px;
    border-top-color: silver;
}

.stats-list .sort-asc:after {
    bottom: 15px;
    border-bottom-color: silver;
}

.missing-player{
    color : red;
}

.error-message{
    color: red;
    font-size : 20px;

    margin-top: 1em;
}

.footer {
    margin-top : 1em;
    margin-bottom: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paypal-logo{
    height: 24px;
}

.team-logo {
    max-width: 20px;
}

input.trend-games{
    width: 30px;
    text-align: center;
}

.trend-settings{
    margin-top: 1em;
}

.trend-settings > button{
    margin-left: 1em;
    margin-right: 1em;
}

.warnings
{
    margin-top: 1em;
    margin-bottom: 1em;
    color : red;
}

.settings-buttons{
    margin-top: 1em;
    margin-bottom: 1em;
}

.legend {
    margin-top: 1em;
    margin-bottom: 1em;
    
}

.legend-content {
    text-align: left;
    margin : 0 auto;
    width: 400px;
}

/*react-table stuff*/
table {
    border-spacing: 0;
    border: 1px solid #f2f2f2;
    white-space: nowrap;
    margin: 0 auto;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    border: 1px solid #f2f2f4;
}

.player-name {
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    position: sticky;
    left: 0px;
    z-index: 40;
    background-color: inherit;
}

.short-stat{
    width : 60px;
}

.long-stat {
    width: 100px;
}

th {
    padding-left: 5px;
    padding-right: 5px;
}

th:first-child {
    position: sticky;
    left: 0px;
    z-index: 50;
    background-color: inherit;
}


/*hide number arrow thing*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}